node_modules
.env
output_csvs
*.csv
desktop.ini
.venv/bin/activate.fish
.venv/bin/pip
.venv
scripts/ts_info_fetcher
__pycache__/app.cpython-310.pyc
.vercel
__pycache__
migrations/script.py.mako
api.zip
scraper.zip
jobs/info_getter.py
jobs/ingest_timeseries.py
services/fetch_timeseries.py
scripts/ts_info_fetcher.py
config/settings.py
exclude.json
package-lock.json
package.json
